version: 3.5

tinc:
  image: vimagick/tinc
  ports:
    - "655:655/tcp"
    - "655:655/udp"
  volumes:
    - ./tinc:/etc/tinc
  environment:
    - IP_ADDR={{ external_host_public_ip_addr }}
  cap_add:
    - NET_ADMIN
  dns: 8.8.8.8
  restart: always
